@keyframes fadeIn{
    0% {opacity: 0};
    100% {opacity: 100};
}
@keyframes aaa {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 100;}
}
@keyframes blurin {
    0% {filter: blur(20px);}
    100% {filter: blur(1px) ;}
}
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    animation: blurin 0.5s ease;
}
body{
    overflow: scroll;
    background: linear-gradient(218deg, rgb(17, 0, 36) 0%, rgb(58, 9, 121) 45%,rgb(86, 24, 128) 55%,rgb(100, 65, 139) 65%,rgb(100, 65, 139) 75%,rgb(82, 32, 139) 85%,rgb(74, 33, 121) 95%, rgb(39, 20, 68) 100%);
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
img{
    max-width: 1000px;
    max-height: 1000px;
    min-width: 700px;
    margin-left: auto;
    margin-left: auto;
    margin-top: 100px;
    padding: 10px 10px 0px 10px;
    background-color: rgb(49, 38, 112);
    margin-bottom: 0px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: -5px;
    transition: 1s ease-out;
}
.home{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index:99;
}
.home1{
    text-align: center;
    background-color: rgb(76, 61, 160);
    padding: 20px 40px;
    position: sticky;
    border-radius: 0px 0px 15px 15px;
    top: 0px;
    color: white;
    text-decoration: dashed;
    transition: 0.5s;
    border: 1px solid white;
}
.home1:hover{
    background-color: rgb(129, 155, 204);
    transition: 0.5s;
}
.row{
    width: 1500px;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.content h1{
    color: white;
    margin: 0px;
    padding: 0px;
    margin: 0px;
}
.image1 h1{
    width: inherit;
    color: white;
    background-color: rgba(101, 72, 179, 0.616);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid white;
}
.image1{
    width: inherit;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
img:hover{
    transition: 0.5s;
    min-width: 1200px;
}